.community-grid {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tags-grid {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}


.mod-title {
    text-align: center;
    width: 90%;
}

.mod-desc {
    text-align: center;
    font-size: 10px;
    width: 90%;
    margin: 5px auto;
}

.tag-button {
    padding: 10px;
    font-weight: bold;
    background-color : #BFE6FF;
    margin : 5px 5px 10px 10px;
    border-radius: 10px;
}

.tag-button:hover {
    background-color : #aacee2;
  }

.community-grid-element {
    width: 25%;
    height: 25rem;
    background-color : #BFE6FF;
    margin : 5px 5px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.hover-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(85, 111, 176);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    width: 80%;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .hover-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .hover-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .hover-button:hover span {
    padding-right: 25px;
  }
  
  .hover-button:hover span:after {
    opacity: 1;
    right: 0;
  }